:root {
	--ddm-blue: #00aff0;
	--ddm-red: #ed1c3c;
}

* {
	color: var(--fg);
	font-family: 'Comic Sans MS';
}

body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	display: flex;
	flex-direction: column;
	background-color: var(--bg);

	--msg-border-color-bottom-left: var(--msg-border-color);
	--msg-border-color-top-right: var(--msg-border-color);

	--msg-border-color-bottom: var(--msg-border-color-bottom-left);
	--msg-border-color-left: var(--msg-border-color-bottom-left);
	--msg-border-color-top: var(--msg-border-color-top-right);
	--msg-border-color-right: var(--msg-border-color-top-right);
}

body.theme-light {
	--bg: #FFFFFF;
	--msg: #FFFFFF;
	--fg: #000000;
	--shadow: #80808080;
	--msg-border-color-bottom-left: var(--ddm-blue);
	--msg-border-color-top-right: var(--ddm-red);

}

body.theme-dark {
	--bg: #202020;
	--msg: #202020;
	--fg: #e0e0e0;
	--shadow: #00000080;
	--msg-border-color-bottom-left: var(--ddm-blue);
	--msg-border-color-top-right: var(--ddm-red);
}

body.theme-red {
	--bg: #402020;
	--msg: #202020;
	--fg: #f02020;
	--shadow: #20000080;
	--msg-border-color: var(--fg);
}

body.theme-green {
	--bg: #204020;
	--msg: #202020;
	--fg: #20f020;
	--shadow: #00200080;
	--msg-border-color: var(--fg);
}

body.theme-blue {
	--bg: #202040;
	--msg: #202020;
	--fg: #2020f0;
	--shadow: #00002080;
	--msg-border-color: var(--fg);
}

body.theme-ice {
	--bg: #d0e0f0;
	--msg: #ffffff;
	--fg: #4080f0;
	--shadow: #80d0f0;
	--msg-border-color: var(--shadow);
}

body.theme-hacker {
	--bg: #000000;
	--msg: #000000;
	--fg: #00ff00;
	--shadow: #000000;
	--msg-border-color: #000000;
}

#header-div {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	box-shadow: 0 1px 8px 0px var(--shadow);
	padding: 1rem;
	gap: 1rem;
	z-index: 100;
}

h1 {
	margin: 0;
	color: var(--ddm-blue);
}

h3 {
	color: var(--ddm-red);
}

#chat {
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	scroll-behavior: smooth;
	overflow-y: scroll;
	-ms-overflow-style: none;
	scrollbar-width: none;
}

#chat::-webkit-scrollbar {
	display: none;
}

.message {
	max-width: 80vw;
	padding: 1rem;
	border-radius: 1rem;
	color: var(--fg);
	background-color: var(--msg);
	box-shadow: 1px 2px 8px 0px var(--shadow);
	margin: 1rem;

	border-bottom: 8px solid var(--msg-border-color-bottom);
	border-left: 8px solid var(--msg-border-color-left);
	border-top: 8px solid var(--msg-border-color-top);
	border-right: 8px solid var(--msg-border-color-right);
}

#anchor {
	flex: 0 0 1px;
}

.self.message {
	border-bottom-right-radius: 0;
	align-self: flex-end;
}

.other.message {
	border-bottom-left-radius: 0;
	align-self: flex-start;
}

#chat img {
	max-width: 80vw;
	object-fit: cover;
	border-radius: 0.5rem;
	box-shadow: 1px 2px 8px 0px var(--shadow);
}

dialog {
	padding: 1rem;
	border-radius: 1rem;
	background-color: white;
	border: none;
	outline: none;
	box-shadow: 1px 2px 8px 0px var(--shadow);
}

dialog input {
	font-size: medium;
	background-color: white;
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	border-radius: 1rem;
	border: none;
	outline: none;
	box-shadow: 1px 2px 8px 0px var(--shadow);
}

#footer-div {
	display: flex;
	flex-direction: column;
	align-items: stretch;
	justify-content: flex-start;
	box-shadow: 0 -1px 8px 0px var(--shadow);
	padding: 1rem;
	gap: 1rem;
}

#images-div {
	display: none;
	gap: 1rem;
	overflow-x: scroll;
	padding: 1rem;
}

#images-div img {
	max-height: 10vh;
	object-fit: cover;
	border-radius: 0.25rem;
	box-shadow: 1px 2px 8px 0px var(--shadow);
}

#inputs-div {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	justify-content: space-between;
	gap: 1rem;
}

#text-input {
	font-size: large;
	color: var(--fg);
	background-color: var(--msg);
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
	padding-left: 1rem;
	padding-right: 1rem;
	height: 2rem;
	border-radius: 2rem;
	border: none;
	outline: none;
	box-shadow: 1px 2px 8px 0px var(--shadow);
	flex-grow: 1;
}

#image-input {
	display: none;
}

#image-label {
	font-size: large;
	color: var(--fg);
	background-color: var(--msg);
	width: 2em;
	height: 2em;
	padding: 0.5rem;
	border-radius: 2rem;
	border: none;
	outline: none;
	box-shadow: 1px 2px 8px 0px var(--shadow);
	display: flex;
	align-items: center;
	justify-content: center;
}

.fade-up {
	animation: fadeUp 0.2s;
}

@keyframes fadeUp {
	0% {
		opacity: 0;
		transform: translateY(1rem) scale(0.9);
	}

	100% {
		opacity: 1;
		transform: translateY(0rem) scale(1);
	}
}

button {
	font-size: medium;
	background-color: var(--bg);
	padding-top: 0.25em;
	padding-bottom: 0.25em;
	padding-left: 0.5em;
	padding-right: 0.5em;
	margin: 0.5em;
	border-radius: 1rem;
	border: none;
	outline: none;
	box-shadow: 1px 2px 8px 0px var(--shadow);
	transition-duration: 0.2s;
}

dialog button:hover {
	transform: translateY(1px);
	box-shadow: 0px 1px 6px 0px var(--shadow);
}

dialog button:active {
	transform: translateY(4px);
	box-shadow: 0px 0px 0px 0px var(--shadow);
}

dialog::backdrop {
	background-color: var(--shadow);
}